

@import '../../../../style/variable.scss';

.message-list{
  box-sizing: border-box;
  padding-top: px2rem(88);
  padding-bottom: px2rem(104);
  li{
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0;
    position: relative;
    .avatar{
      padding: 0 10px;
      img{
        width: px2rem(80);
        border-radius: 50%;
        background-color: #f0f0f0;
        vertical-align: middle;
      }
    }
    .info{
      padding-top: px2rem(8);
      .sign{
        padding-top: px2rem(4);
        color: #ccc;
        font-size: px2rem(24);
      }
    }
    .time{
      position: absolute;
      top: 20px;
      right: 10px;
      color: #ccc;
    }
  }
}