

@import '../../../../style/variable.scss';

.user-detail{
  box-sizing: border-box;
  padding-top: px2rem(108);
  display: flex;
  .avatar{
    padding: 0 10px;
    img{
      width: px2rem(80);
      border-radius: 50%;
      background-color: #f0f0f0;
      vertical-align: middle;
    }
  }
  .info{
    padding-top: px2rem(8);
    .sign{
      padding-top: px2rem(4);
      color: #ccc;
      font-size: px2rem(24);
    }
  }
}
.footer-btn{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #f0f0f0;
  button{
    display: inline-block;
    width: 100%;
    border: none;
    outline: none;
    line-height: 48px;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 14px;
  }
}