/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-agent {
  background-image: url(../images/sprite.png);
  background-position: -303px -270px;
  width: 48px;
  height: 48px;
}
.icon-appeal_details {
  background-image: url(../images/sprite.png);
  background-position: -537px -152px;
  width: 14px;
  height: 24px;
}
.icon-bounty {
  background-image: url(../images/sprite.png);
  background-position: 0px -381px;
  width: 48px;
  height: 48px;
}
.icon-city_close {
  background-image: url(../images/sprite.png);
  background-position: -436px -444px;
  width: 25px;
  height: 25px;
}
.icon-city_selected {
  background-image: url(../images/sprite.png);
  background-position: -381px -341px;
  width: 32px;
  height: 22px;
}
.icon-close {
  background-image: url(../images/sprite.png);
  background-position: -381px 0px;
  width: 78px;
  height: 52px;
}
.icon-commission {
  background-image: url(../images/sprite.png);
  background-position: -63px -381px;
  width: 48px;
  height: 48px;
}
.icon-docking_details {
  background-image: url(../images/sprite.png);
  background-position: -537px -191px;
  width: 14px;
  height: 24px;
}
.icon-down {
  background-image: url(../images/sprite.png);
  background-position: -537px -263px;
  width: 16px;
  height: 16px;
}
.icon-edit {
  background-image: url(../images/sprite.png);
  background-position: -126px -381px;
  width: 48px;
  height: 48px;
}
.icon-exclusive {
  background-image: url(../images/sprite.png);
  background-position: -189px -381px;
  width: 48px;
  height: 48px;
}
.icon-guide_account {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
}
.icon-guide_garb {
  background-image: url(../images/sprite.png);
  background-position: -135px 0px;
  width: 120px;
  height: 120px;
}
.icon-guide_refresh {
  background-image: url(../images/sprite.png);
  background-position: 0px -135px;
  width: 120px;
  height: 120px;
}
.icon-guide_scan {
  background-image: url(../images/sprite.png);
  background-position: -135px -135px;
  width: 120px;
  height: 120px;
}
.icon-guide_step {
  background-image: url(../images/sprite.png);
  background-position: -428px -341px;
  width: 30px;
  height: 18px;
}
.icon-icon_mianduimian {
  background-image: url(../images/sprite.png);
  background-position: -270px 0px;
  width: 96px;
  height: 96px;
}
.icon-icon_pengyouquan {
  background-image: url(../images/sprite.png);
  background-position: -270px -111px;
  width: 96px;
  height: 96px;
}
.icon-icon_qq {
  background-image: url(../images/sprite.png);
  background-position: 0px -270px;
  width: 96px;
  height: 96px;
}
.icon-icon_record {
  background-image: url(../images/sprite.png);
  background-position: -185px -444px;
  width: 38px;
  height: 44px;
}
.icon-icon_weixin {
  background-image: url(../images/sprite.png);
  background-position: -111px -270px;
  width: 96px;
  height: 96px;
}
.icon-invite_arrows {
  background-image: url(../images/sprite.png);
  background-position: -537px -230px;
  width: 18px;
  height: 18px;
}
.icon-invite {
  background-image: url(../images/sprite.png);
  background-position: -252px -381px;
  width: 48px;
  height: 48px;
}
.icon-loading_1 {
  background-image: url(../images/sprite.png);
  background-position: -381px -276px;
  width: 50px;
  height: 50px;
}
.icon-loading_2 {
  background-image: url(../images/sprite.png);
  background-position: -222px -270px;
  width: 66px;
  height: 66px;
}
.icon-loading {
  background-image: url(../images/sprite.png);
  background-position: -238px -444px;
  width: 40px;
  height: 40px;
}
.icon-log-icon-close {
  background-image: url(../images/sprite.png);
  background-position: -476px -444px;
  width: 24px;
  height: 24px;
}
.icon-log-icon-refresh {
  background-image: url(../images/sprite.png);
  background-position: -381px -134px;
  width: 56px;
  height: 56px;
}
.icon-nicknames_clear {
  background-image: url(../images/sprite.png);
  background-position: -393px -444px;
  width: 28px;
  height: 28px;
}
.icon-open {
  background-image: url(../images/sprite.png);
  background-position: -381px -67px;
  width: 78px;
  height: 52px;
}
.icon-personal_right {
  background-image: url(../images/sprite.png);
  background-position: -537px -323px;
  width: 10px;
  height: 16px;
}
.icon-personal_sweep {
  background-image: url(../images/sprite.png);
  background-position: -126px -444px;
  width: 44px;
  height: 44px;
}
.icon-reminder {
  background-image: url(../images/sprite.png);
  background-position: -537px 0px;
  width: 24px;
  height: 24px;
}
.icon-return_white {
  background-image: url(../images/sprite.png);
  background-position: -315px -381px;
  width: 48px;
  height: 48px;
}
.icon-return {
  background-image: url(../images/sprite.png);
  background-position: -378px -381px;
  width: 48px;
  height: 48px;
}
.icon-searc {
  background-image: url(../images/sprite.png);
  background-position: -270px -222px;
  width: 32px;
  height: 32px;
}
.icon-selected {
  background-image: url(../images/sprite.png);
  background-position: -537px -294px;
  width: 16px;
  height: 14px;
}
.icon-set {
  background-image: url(../images/sprite.png);
  background-position: -474px 0px;
  width: 48px;
  height: 48px;
}
.icon-share_pop_close {
  background-image: url(../images/sprite.png);
  background-position: -381px -205px;
  width: 56px;
  height: 56px;
}
.icon-state_date {
  background-image: url(../images/sprite.png);
  background-position: -537px -39px;
  width: 24px;
  height: 24px;
}
.icon-state_name {
  background-image: url(../images/sprite.png);
  background-position: -317px -222px;
  width: 32px;
  height: 32px;
}
.icon-state_search {
  background-image: url(../images/sprite.png);
  background-position: -537px -78px;
  width: 24px;
  height: 24px;
}
.icon-state {
  background-image: url(../images/sprite.png);
  background-position: -293px -444px;
  width: 40px;
  height: 40px;
}
.icon-tab_icon_grab_pre {
  background-image: url(../images/sprite.png);
  background-position: -474px -63px;
  width: 48px;
  height: 48px;
}
.icon-tab_icon_grab {
  background-image: url(../images/sprite.png);
  background-position: -474px -126px;
  width: 48px;
  height: 48px;
}
.icon-tab_icon_personal_pre {
  background-image: url(../images/sprite.png);
  background-position: -474px -189px;
  width: 48px;
  height: 48px;
}
.icon-tab_icon_personal {
  background-image: url(../images/sprite.png);
  background-position: -474px -252px;
  width: 48px;
  height: 48px;
}
.icon-tab_icon_task_pre {
  background-image: url(../images/sprite.png);
  background-position: -474px -315px;
  width: 48px;
  height: 48px;
}
.icon-tab_icon_task {
  background-image: url(../images/sprite.png);
  background-position: -474px -378px;
  width: 48px;
  height: 48px;
}
.icon-task_date {
  background-image: url(../images/sprite.png);
  background-position: -537px -117px;
  width: 20px;
  height: 20px;
}
.icon-task_refrech {
  background-image: url(../images/sprite.png);
  background-position: -348px -444px;
  width: 30px;
  height: 30px;
}
.icon-task_right_active {
  background-image: url(../images/sprite.png);
  background-position: -537px -354px;
  width: 10px;
  height: 16px;
}
.icon-task_right {
  background-image: url(../images/sprite.png);
  background-position: -537px -385px;
  width: 10px;
  height: 16px;
}
.icon-task {
  background-image: url(../images/sprite.png);
  background-position: 0px -444px;
  width: 48px;
  height: 48px;
}
.icon-wallet {
  background-image: url(../images/sprite.png);
  background-position: -63px -444px;
  width: 48px;
  height: 48px;
}
