@import '../../../../style/variable.scss';

.pages {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

.chat-message-list {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: px2rem(88);
  padding-bottom: px2rem(208);
  overflow: auto;
  background-color: #f0f0f0;

  li {
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

    img {
      width: px2rem(80);
      height: px2rem(80);
      float: right;
      border-radius: 50%;
    }

    p {
      float: right;
      margin-top: 5px;
      margin-right: 10px;
      border: 1px solid #1989fa;
      background-color: #fff;
      padding: 4px 8px;
      border-radius: 4px;
      max-width: 70%;
      position: relative;

      &::after {
        content: '';
        width: 8px;
        height: 8px;
        border: 1px solid #1989fa;
        border-bottom: 0;
        border-left: 0;
        position: absolute;
        top: 22%;
        right: -5px;
        background-color: #fff;
        transform: rotate(45deg);
      }
    }

    &.left {
      img {
        float: left;
      }

      p {
        float: left;
        margin-right: 0;
        margin-left: 10px;

        &::after {
          border: 1px solid #1989fa;
          border-top: 0;
          border-right: 0;
          top: 22%;
          left: -5px;
        }
      }
    }
  }

}
